@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.coin-list {
	&__timeframes {
		display: flex;
		justify-content: space-between;
	}
	&__image {
		width: 10%;
	}
	&__header {
		display: flex;
		padding: 1rem;
		padding-left: 1.25rem;
	}
	&__name {
		padding-right: 1.25rem;
	}
	&__price {
		color: $RedColor;
	}
}
