@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.nfts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__name {
		color: $RedColor;
		margin-bottom: 0.75rem;
		margin-top: 1.25rem;
	}
	&__list {
		width: 100%;
	}
	&__contract {
		font-style: italic;
		box-shadow: 0 18px 37px #a7c3d533;
	}
	&__link {
		border: 1px solid $BackgroundColor;
		border-radius: 12px;
		box-shadow: 0 18px 37px #a7c3d533;
		padding: 8px 16px;
	}
}
