html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden; /* Prevent horizontal scrolling */
	width: 100%;
	position: relative;
}

body {
	overflow-y: auto; /* Allow vertical scrolling */
	display: flex;
	flex-direction: column;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.container {
	min-height: 0; /* Prevent overflow */
	height: 100%;
}
