@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
.homepage {
	&__wrapper {
		padding: 1.5625rem;
		color: $GlobalTextDarkBlue;
	}
	&__text {
		font-size: 1.875rem;
		padding-top: 1.25rem;
	}

	&__button {
		padding: 32px 32px;
		padding-bottom: 45px;
		width: 90%;
		margin-bottom: 1.875rem;
		font-size: 20px;
	}
}

img {
	width: 90%;
	height: auto;
	border-radius: 12px;
}

span {
	color: $RedColor;
	padding-bottom: 0.75rem;
	line-height: 3;
}

button.homepage_button {
	padding: 32px 32px;
	width: 100%;
}
