/* DefiMarketCap.css */
@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.defi-table {
	width: 90%;
	border-collapse: collapse;
	margin: 0 auto;
	table-layout: fixed;
	max-width: 100%;
	overflow: hidden;
}

.defi-table th,
.defi-table td {
	padding: 8px 10px;
	text-align: left;
	border: 1px solid white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}

.defi-table th {
	background-color: $ButtonColor;
	color: white;
	font-weight: bold;
}

.defi-table .even-row {
	background-color: #f2f2f2;
}

.defi-table .odd-row {
	background-color: #f9f9f9;
}

.defi-table td {
	color: $GlobalTextDarkBlue;
}

.defi-table td,
.defi-table th {
	font-size: 14px;
}

@media (min-width: 600px) {
	.defi-table th,
	.defi-table td {
		padding: 10px 15px;
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	.defi-table {
		max-width: 900px;
	}

	.defi-table th,
	.defi-table td {
		padding: 12px 20px;
		font-size: 18px;
	}
}

@media (min-width: 1024px) {
	/* Additional adjustments for very large screens (desktops) */
	.defi-table th,
	.defi-table td {
		padding: 14px 24px;
		font-size: 20px; /* Larger font size for large desktops */
	}
}
