@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typograph" as *;

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #133b57;
	color: #ffff;

	&__left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	&__title {
		margin: 1rem;
	}

	&__products {
		padding-left: 12px;
		padding-right: 0.75rem;
	}
	&__right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	&__signUp {
		padding-right: 20px;
	}

	&__login {
		padding-right: 12px;
	}
}
