@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $global-text-color;
}

html body {
	margin: 0;
	font-family: "Titillium Web", sans-serif;
	padding: 0;
	font-size: 1.125rem;
	margin: 0;
	padding: 0;
	height: 100%; /* Ensure the body takes full height */
	width: 100%;
}

button {
	font-family: "Titillium Web", sans-serif;
}
.homepage__button {
	font-family: "Titillium Web", sans-serif;
}

a {
	font-family: "Titillium Web", sans-serif;
}
