@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

* {
	margin: auto;
	padding: auto;
	box-sizing: border-box;
	color: $global-text-color;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	font-family: "Titillium Web", sans-serif;
	padding: 0.5rem;
	font-size: 1.125rem;
}

button {
	font-family: "Titillium Web", sans-serif;
}
.homepage__button {
	font-family: "Titillium Web", sans-serif;
}

a {
	font-family: "Titillium Web", sans-serif;
}
